:root {
  --aside-bg-color: #0B0D0F;
  --logo-primary-color: #fff;
  --logo-secondary-color: #93c5fd;
  --aside-link-color: #fff;
   --aside-link-hover: rgba(255, 255, 255, 0.2);
  --active-color: rgba(255, 255, 255, 0.2);
  --link-before-color: #93c5fd;
  --main-bg-color: #101316;
  --secondary-bg-color: #0B0D0F;
  --main-color:#345fa8 ;
  --border-color:#3C3E3F;
  --text-color: #fff;
  --always-fff: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --score-color:  #6097f4;
  --main-hover-bg-color: #527ab5;
  --icon-color:#6097f4;
  --delete-btn-border-color:#3c3e3f;
  --input-enabled-color:#242627;
  --input-enabled-border-color:#7C7D7E;
  --input-disabled-color:#3c3d3f ;
  --input-placeholder-color:#c8c9c9;
  --input-disabled-border-color:#7c7d7e;
  --input-focus-color:#90b9fa;
  --input-border-color:rgba(32, 107, 245, 0.25);
  --total-bar-color:#527ab5;
  --table-border-bottom-color:#adb5bd;
  --table-odd-color:#08090A;
  --active-category-shadow-color:rgba(144, 185, 250, 0.6);
  --overlay-color:rgba(255, 255, 255, 0.2);
}
.light-theme {
  --aside-bg-color: #1d4ed8;
  --link-before-color: #fff;
  --main-bg-color: #f5f5f5;
  --secondary-bg-color: #ffffff;
  --main-color: #1d4ed8;
  --border-color: #d1d5db;
  --text-color: #1f2937;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --score-color: #1d4ed8;
  --main-hover-bg-color: #3b82f6;
  --icon-color: #1d4ed8;
  --delete-btn-border-color: #d1d5db;
  --input-enabled-color: #ffffff;
  --input-disabled-color: #f1f5f9;
  --input-placeholder-color: #9ca3af;
  --input-disabled-border-color: #e5e7eb;
  --input-focus-color: #3b82f6;
  --input-border-color: rgba(59, 130, 246, 0.25);
  --table-odd-color:#e9ecef;
  --total-bar-color:#1d4ed8;
  --active-category-shadow-color:rgba(59, 131, 246, 0.6);
  --overlay-color:rgba(0, 0, 0, 0.2);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1.6rem;  
  line-height: 1.6;   */
}
html {
  font-size: 62.5%;
}
.container {
  display: grid;
  grid-template-columns: 28rem auto;
  min-height: 100vh;
  transition: all 0.5s ease;
  position: relative;
}
/* Side Navbar Start */
aside {
  min-height: 100vh;
   background-color: var(--aside-bg-color);
  padding: 1.6rem;
  position: relative;
  width: 28rem;
  transition: 0.5s all ease;
  overflow: hidden;
   border-right: 1px solid #adb5bd;
   z-index: 99999;
}
aside .top-box {
  display: flex;
  align-items: center;
   padding: 1.8rem 0;
  transition: .5s all;

  }
 
.main-logo {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--logo-primary-color);
  opacity: 1;
  display: flex;
}
.main-logo i,
.main-logo span {
  color: var(--logo-secondary-color);
}
.main-logo i {
  margin-right: 1.2rem;
}
#toggle-btn {
  cursor: pointer;
  font-size: 2rem;
  color: var(--aside-link-color);
  }


.profile {
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
   cursor: pointer;
  padding: 1rem 0;
}
.profile-img img {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  object-fit: cover;
  margin-right: 1rem;
}
.profile-name {
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 1;
  color: var(--aside-link-color);
}
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: var(--aside-link-color);
  padding: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: 0.3s all ease;
  border-radius: 7px;
}
.menu a:hover {
  background-color: var(--aside-link-hover);
}
span{
  transition: 0.4s all ease-in-out;
}
.menu a:hover span {
  margin-left: 1rem;
}
.menu-icon {
  font-size: 2rem;
}
.menu a span {
  font-weight: 500;
  font-size: 1.6rem;
  opacity: 1;
}
.menu a.active {
  background-color: var(--active-color);
  position: relative;
}
.menu a.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.6rem;
  height: 100%;
  background-color: var(--link-before-color);
}
.aside-closed {
  width: 10rem;
}
.container:has(> aside.aside-closed) {
  grid-template-columns: 10rem auto;
}
.aside-closed .main-logo {
  opacity: 0;
  display: none;
}
.aside-closed .mode-text,
.aside-closed .mode-icon {
  opacity: 0;
  display: none;
}
.aside-closed .mode {
  flex-direction: column;
}
.aside-closed  .top-box {
  justify-content: center;
  
}
.aside-closed .menu-item span,
.aside-closed .profile-name {
  opacity: 0;
}
/* Side Navbar End */

/* Theme toggler Start*/
.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}
.toggle input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 2rem;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(2rem);
}
.toggle-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
}
.toggle-icon i {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 0.5rem;
}
.mode {
  text-decoration: none;
  color: var(--main-link-color);
  color: #fff;
  padding: 1.8rem;
  gap: 1.2rem;
  transition: 0.3s all ease;
  border-radius: 7px;
  font-size: 1.6rem;
  font-weight: 500;
  /* background-color:  ; */
   display: flex;
  align-items: center;
  flex-direction: row;
}
.mode-text,
.mode-icon {
  opacity: 1;
  display: inline-block;
}
.mode-icon .fa-sun {
  display: none;
}
/* Theme toggler End*/

/* ================================================ */

/* Pop Up */
.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  overflow: auto;
}
.pop-up-content {
  padding: 2.4rem;
  background-color: #fff;
  max-width: 450px;
  border-radius: 11px;
  text-align: center;
  border-top: 10px solid #f52f39;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  transform: translateY(-100%);
}
.pop-up-content img {
  max-width: 80%;
  margin: auto;
}
.pop-up-content i {
  background-color: #f52f39;
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-up-content h2 {
  color: #000;
  font-size: 3.2rem;
  margin-top: 2.4rem;
}
.pop-up-content p {
  color: #333;
  margin: 1.2rem 0 2.4rem 0;
  font-size: 1.8rem;
}
.pop-up-control {
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}
.pop-up-control button {
  display: inline-block;
  padding: 1rem 2.4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
}
button.cancel-modal-btn {
  background-color: #e2e8f0;
  color: #000;
}
button.delete-modal-btn {
  background-color: #f52f39;
  color: #fff;
}
.pop-up-active.pop-up,
.pop-up-active .pop-up-content {
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease-in-out;
}
.pop-up-active .pop-up-content {
  transform: translateY(0);
}
 
table .empty {
  background-color: var(--secondary-bg-color);
  padding: 1.5rem;
  text-align: center;
}

.error{
  border-color: #a83434 !important; 
 }

/* Tippy & Toastr js */
.tippy-box[data-theme="errorTooltip"] {
  background-color: #a83434;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme="errorTooltip"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #a83434;
}

#toast-container > div {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 20px 20px 20px 50px;
 }

 
 
 /* loader */
 .loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
   display: flex;
   background-color:#101316;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 999999999999999999;
}
.spinner {
  display: flex;
  width: 8rem;
  height: 8rem;
  border: 6px solid transparent;
  border-top-color: #3c90ff;
  border-bottom-color: #3c90ff;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner:before {
  content: '';
  display: block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  border: 6px solid #3c90ff;
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
  
}
.loading-message {
  margin-top: 1rem;
  font-size: 2rem;
  color: #fff;
  animation: fadeIn .5s alternate infinite;
}

  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  .main-header {
    background-color: var(--aside-bg-color);
     padding: .5rem 2.4rem;
 
      }
      .main-header nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
       }
      .main-header nav i{
      color: var(--always-fff)
      }
    
      .main-header .profile {
      display: flex;
      align-items: center;
      transition: 0.3s all ease;
       cursor: pointer;
       }
      .main-header .profile-img img {
      width: 4rem;
      height: 4rem;
       border-radius: 50%;
      object-fit: cover;
      margin-right: .8rem;
      }
      .main-header .profile-name {
       font-weight: 600;
      font-size: 1.4rem;
      opacity: 1;
      color: var(--aside-link-color);
      }
      .aside-toggle .fa-xmark {
      display: none;
      }
      .aside-toggle{
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
       display: none;
       cursor: pointer;
       font-size: 2rem;
       color: var(--aside-link-color);
      }
      /*  */
      /*  */
      /*  */
      /*  */
      /*  */
 
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
}
 @media (max-width: 48em) {
  body{
    font-size: 1.4rem;
  }
  .container{
    grid-template-columns: auto;
  }
  .container:has(> aside.aside-closed) {
    grid-template-columns: auto;
  }
  aside {
    position: absolute;
    transform: translateX(-100%);
    width: 10rem;
  }
  
  .top-box{
    display: none;
  }
#toggle-btn{
  display: none;
}
.overlay {
	position: absolute;
	inset: 0;
  height: 100%;
	background-color:var(--overlay-color);
	opacity: 0;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	overflow: hidden;
	visibility: hidden;
}
  .aside-toggle{
    display: block;
  }
  .aside-open aside{
    transform: translateX(0);
    min-height: 100vh;
    height: 100%;
   }
  .aside-open .overlay {
    opacity: 1;
    visibility: visible;
  }
  .aside-open .aside-toggle .fa-xmark{
    display: block;
  } 
  .aside-open .aside-toggle .fa-bars {
    display: none;
    }
    .pop-up{
      padding: 3.2rem;
    }
}
 


