/* Root Variables */
:root {
  --main-bg-color: #101316;
  --secondary-bg-color: #0B0D0F;
  --main-color:#345fa8 ;
  --border-color:#3C3E3F;
  --text-color: #fff;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --score-color:  #6097f4;
  --main-hover-bg-color: #527ab5;

}
.light-theme {
  --main-bg-color: #eff6ff;
  --secondary-bg-color: #fff;
  --main-color:#345fa8 ;
  --border-color:#eee;
  --text-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --score-color:  #6097f4;
  --main-hover-bg-color: #527ab5;
}
 body {
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 2rem;
  padding: 2rem;
  transition: 0.5s all;
}
.container:has(> aside.aside-closed) main {
  grid-template-columns: auto 37rem;
}
/* Welcome display */
.welcome-section {
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem var(--box-shadow-color);
  text-align: center;
  border: 1px solid var(--border-color);
}
.welcome-section h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.welcome-section p {
  color: var(--text-color);
  font-size: 1.8rem;
}
/* Summary display */
#summary {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  grid-row: 2;
  grid-column: span 1;
}
.card {
  flex: 1;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 1px solid var(--border-color);

}
.card:hover {
  transform: scale(1.02);
}
.card i {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.card h2 {
  color: var(--text-color);
  margin: 0 0 10px 0;
}
.card p {
  font-size: 2.4rem;
  color:var(--score-color);
  margin: 0;
  font-weight: 700;
}

/* Charts display */
.chart-container {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
.chart-container h2 {
  color: var(--text-color);
  margin-bottom: 3rem;
  font-size: 2.4rem;
  text-align: center;
}
canvas {
  width: 100%;
}
.no-data-message {
  display: none;
  text-align: center;
  color:  var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  line-height: 1.6;
}
/* second column & Tasks display */
.second-col {
  grid-column: 2;
  grid-row: span 4;
  display: flex;
  flex-direction: column;
}
#tasks {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
}
.task-card h2 {
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 2rem;
}
.task-card p {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
#view-all-btn {
  display: inline-block;
  background-color:var(--main-color);
  text-decoration: none;
  color:  var(--text-color);
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem 0 1.6rem;
}
#view-all-btn:hover {
  background-color:var(--main-hover-bg-color) ;
}
.employee-chart {
  grid-row: 3;
  grid-column: 1;
}
/* Responsive Media Queries */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 38em) {
  #summary {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }


}




