/* Root Variables */
:root {
  scroll-behavior: smooth;
  --main-bg-color: #343a40;
  --secondary-bg-color: #212529;
  --form-bg-color: #212529;
  --teriary-bg-color: #1e3a8a;
  --main-hover-bg-color: rgba(255, 255, 255, 0.2);
  --head-hover-color: rgba(255, 255, 255, 0.2);
  --table-hover-color: rgba(255, 255, 255, 0.1);
  --main-color: #fff;
  --link-before-color: #93c5fd;
  --box-shadow-color: rgba(255, 255, 255, 0.2);
  --logo-primary-color: #fff;
  --logo-secondary-color: #93c5fd;
  --input-focus-color: #121416;
  --add-hover-bg-color: #121416;
  --form-input-color: #121416;
  --aside-bg-color: #212529;
  --light-color: #fff;
  --submit-btn-bg-color: #fff;
  --submit-btn-color: #000;
  --card-color: #3b82f6;
}

.light-theme {
  --main-bg-color: #f5f5f5;
  --teriary-bg-color: #e2e8f0;
  --main-color: #343a40;
  --light-color: #fff;
  --link-before-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --logo-primary-color: #fff;
  --logo-secondary-color: #93c5fd;
  --aside-bg-color: #1d4ed8;
  --add-hover-bg-color: #1d4ed8;
  --input-focus-color: #bfdbfe;
  --secondary-bg-color: #e2e8f0;
  --table-hover-color: #bfdbfe;
  --form-bg-color: #fff;
  --submit-btn-bg-color: #1d4ed8;
  --submit-btn-color: #fff;
  --form-input-color: #f5f5f5;
  --head-hover-color: #2563eb;
}

/* Global Styles */
body {
  font-family: "Rubik", sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 2rem;
  padding: 2rem;
  transition: 0.5s all;
}

.container:has(> aside.aside-closed) main {
  grid-template-columns: auto 37rem;
}

/* Welcome Section */
.welcome-back {
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem var(--box-shadow-color);
  text-align: center;
}

.welcome-back h2 {
  color: var(--main-color);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.welcome-back p {
  color: var(--main-color);
  font-size: 1.8rem;
}

/* Summary Section */
#summary {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  grid-row: 2;
  grid-column: span 1;
}

.card {
  flex: 1;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card h2 {
  color: var(--main-color);
  margin: 0 0 10px 0;
}

.card p {
  font-size: 2.4rem;
  color: #3b82f6;
  margin: 0;
  font-weight: 700;
}

/* Charts Section */
#charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.chart-container {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.chart-container h2 {
  color: var(--main-color);
  margin-bottom: 3rem;
  font-size: 2.4rem;
}

canvas {
  width: 100%;
}

.no-data-message {
  display: none;
  text-align: center;
  color: #888;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tasks Section */
#tasks {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.task-card h2 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 2rem;
}

.task-card p {
  color: var(--main-color);
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

#update-profile-btn {
  display: inline-block;
  background-color: #3b82f6;
  text-decoration: none;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem 0 1.6rem;
}

#update-profile-btn:hover {
  background-color: #2563eb;
}

#activities-list {
  list-style: none;
  padding: 0;
}

#activities-list li {
  color: #555;
  padding: 5px 0;
}

/* Theme Toggler */
.theme-toggler {
  background-color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 8rem;
  margin: auto;
}

.theme-toggler div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 1rem 0;
}

.theme-toggler i {
  font-size: 1.6rem;
  color: #212529;
}

.theme-toggler .theme-selected {
  background-color: #212529;
  border-radius: 4px;
}

.theme-toggler .theme-selected i {
  color: #fff;
}

.theme-toggler .theme-selected:has(i.fa-moon) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.theme-toggler .theme-selected:has(i.fa-sun) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Responsive Media Queries */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 38em) {
  #summary {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  #charts {
    grid-template-columns: 1fr;
  }
}

footer {
  font-size: 1.4rem;
  text-align: center;
  color: var(--main-color);
  width: 100%;
}

.employee-chart {
  grid-row: 3;
  grid-column: 1;
}

.second-col {
  grid-column: 2;
  grid-row: span 4;
  display: flex;
  flex-direction: column;
}

.no-data-message {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}
