body {
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  
 }
main {
  padding: 2.4rem;
}
/* Employee */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
 .search-bar input {
    border: none;
  outline: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: var(--input-enabled-color);  
  border: 1px solid var(--input-disabled-border-color);
}
.search-bar {
  position: relative;
}
.search-bar input {
  padding: 1rem 1.5rem;
  transition: 0.5s ease-in-out;
  padding: 1.5rem;
  padding-left: 4.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  outline: none;
}
.search-bar input:focus {
  box-shadow: 0 0 0 0.6rem var(--input-border-color);
}
.search-bar i {
  position: absolute;
  left: 3rem;
  top: 50%;
  color: var(--search-icon-color);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 999;
}
.search-bar input::placeholder {
  color: var(--input-placeholder-color);
}
/* Button Styling */
#add-new-member,
.submit-btn,
.view-btn,
.remove-img-btn {
  background-color: var(--fancy-bg-color) ;
  color: var(--fancy-color);
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s all;
  margin-bottom: 2rem;
  font-weight: 600;
}
#add-new-member:hover,
.submit-btn:hover,
.view-btn:hover {
   background-color: var(--fancy-bg-hover-color);

}
/* Table */
.employees-crud table {
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
  overflow: auto;
  margin-bottom: 1.2rem;

}
.employees-crud th,
.employees-crud td {
  text-align: center;
  border-bottom: 1px solid var(--table-border-bottom-color);
  padding: 0.8rem 1.2rem;
}
.employees-crud thead tr th {
  background-color: var(--aside-bg-color);
  padding: 2rem 1rem;
  cursor: pointer;
  border: none;
  border-top: 1px solid var(--table-border-bottom-color);
  border-bottom: 1px solid var(--table-border-bottom-color);
  text-align: center;
  color: var(--always-fff);
}
.employees-crud tbody tr:nth-child(even) {
  background-color: var(--table-odd-color);
}
.employees-crud tbody tr {
  transition: 0.3s all ease-in;
}
.employees-crud tbody tr:hover {
  background-color: var(--table-hover-color);
  cursor: pointer;
}
/* Table content */
.user-img img {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--delete-btn-border-color);
  border-radius: 4px;
  object-fit: cover;
}
.table-btns {
  display: flex;
  gap: 1.6rem;
 }
.table-btns i {
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
  transition: .5s all ease-in;
}
.update {
  background-color: rgba(215, 150, 20,0.078);
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}
.update:hover {
  background-color: rgba(215, 150, 20, 0.161);
}
.delete {
  background-color: rgba(192, 63, 63, 0.078);
  border-color: var(--red-color);
  color: var(--red-color);
}
.delete:hover {
  background-color: rgba(192, 63, 63, 0.161);
}
table .empty {
  background-color: var(--secondary-bg-color);
  padding: 1.5rem;
  text-align: center;
}

/* Employee Form */
.form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.employees-form {
  background-color: var(--main-bg-color);
  box-shadow: 0 1rem 2rem var(--box-shadow-color);
  border-radius: 9px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  transition: 0.5s all ease-in;
  border: 1px solid var(--delete-btn-border-color);
}

.employees-form header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--box-shadow-color);
  padding: 1rem 2rem;
}

.modal-title {
  font-size: 2rem;
}

.employees-form header .close-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 2.8rem;
 font-weight: 700;
 transition: .3s all ease-in;
}

.employees-form header .close-btn:hover,
.employees-form header .close-btn:focus {
  color: var(--text-color);
   cursor: pointer;
}

.employees-form .form {
  padding: 1rem 2rem;
  display: flex;
  align-items: start;
  gap: 4.8rem;
}

.form .img-holder {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  border: 1px solid var(--box-shadow-color);
  position: relative;
  overflow: hidden;
  margin-bottom: 1.2rem;
}
.remove-img-btn{
  width: 100%;
}
.form .upload {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(100%);
  transition: 0.3s all ease-in;
}

.form .upload i {
  font-size: 4rem;
  color: var(--always-fff);
}

.form .img-holder:hover .upload {
  transform: translateY(0);
}

.picture {
  display: none;
}

.form .img-holder img {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
}
 
/* Input fields */
.input-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 1.6rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-box label {
  font-size: 1.6rem;
  font-weight: bold;
}

.input-box input {
   border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--input-enabled-color);  
  border: 1px solid var(--input-disabled-border-color);
    border-radius: 4px;
  color: var(--text-color);
  transition: .5s all;
}

.input-box input:focus {
  transform: scale(1.06);
  border-color: var(--input-focus-color);
  box-shadow: 0 0 0 0.25rem var(--input-border-color);
}

.employees-form footer {
  border-top: 1px solid var(--box-shadow-color);
  padding-right: 2rem;
  padding-top: 1rem;
}

.submit-btn {
  margin-left: auto;
}

.appear {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.disappear {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
 
/* Media Query Adjustments */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
  .form {
    flex-direction: column;
    gap: 2.4rem;
  }
  table,
  th,
  td {
    font-size: 1.4rem;
    padding: 1.2rem;
  }
  .user-img img {
    width: 5rem;
    height: 5rem;
    
  }
}

 

@media (max-width: 48em) {
  main {
    padding: 1.5rem;
   }
  .form .img-holder {
    margin: auto;
  }
  .header-top {
    /* flex-direction: column; */
    gap: 1rem;
  }
  footer .pagination button {
    width: 3rem;
    font-size: 1.2rem;
  }
  .employees-form {
    padding: 1rem;
    width: 90%;
  }

  .employees-form .form {
    flex-direction: column;
    align-items: center;
  }

  .employees-form header {
    padding: 1rem;
  }

  .employees-form footer {
    padding: 1rem;
  }

  .employees-crud th, 
  .employees-crud td {
    font-size: 1.2rem;
  }
  #add-new-member,
.submit-btn{
  font-size: 1.4rem;
}
.user-img img {
  width: 4rem;
  height: 4rem;
  
}

.search-bar input {
  font-size: 1.4rem;
  padding-left: 5rem;
}

.search-bar i {
  left: 2.5rem;
  font-size: 1.8rem;
}
table,
th,
td {
  font-size: 1.2rem;
  padding: 1rem;
}
.table-btns i {
  padding: 0.8rem;
}
}
@media (max-width: 30em) {
  input {
    font-size: 1.2rem;
  }
  input::placeholder {
    font-size: 1.2rem;
    color: var(--input-placeholder-color);
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .input-box {
    width: 100%;
  }
  .search-bar input {
    font-size: 1.2rem;
   padding-left: 3rem;
 }

 .search-bar i {
   left: 2rem;
 }
 table,
 th,
 td {
   font-size: 1rem;
   padding: 0.8rem;
 }
 .table-btns i {
   padding: 0.6rem;
 }
}


 