* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --sweet-bg-color: #fff;
  --text-color: #1f2937;
  --fancy-bg-hover-color:#1e3a8a ;
  --fancy-bg-color: #1e40af;
  --fancy-color: #fff;

}
body {
  font-family: "Rubik", sans-serif;
  /* background-color: #f1f5f9; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-image: linear-gradient(
      rgba(30, 64, 175, 0.4),
      rgba(30, 64, 175, 0.4)
    ),
    url("../img/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }
 html {
  font-size: 62.5%;
   
}
a {
  text-decoration: none !important;
}
.main-title {
  font-weight: 700;
  margin-bottom: 2.4rem;
  font-size: 3.2rem; 
}
.main-text {
  line-height: 1.6;
  font-size: 1.6rem; 

}
.boss-qoute {
  line-height: 1.6;
}
/* Input Field Styling */
.input-field{
  padding-bottom: 1rem;
}
.field {
  display: flex;
  align-items: center;
  background-color: #eff6ff;
  border-radius: 5px;
   padding:.8rem;
  border: 2px solid #dee2e6;
  color: #333;
  margin-bottom: 1rem;
    position: relative;

 }
 
.field input {
  padding: .6rem;
  border: none;
  background-color: #eff6ff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toast {
  /* Set padding */
  padding: 15px;

  /* Set width */
  width: 500px; /* Adjust the width as needed */
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  width: 100%;
  font-size: 1.6rem;
}
input::placeholder {
  color: #1e40af;
  font-weight: 500;
  font-size:  1.6rem;
}
.field .input-icon {
  color: #1e40af;
  margin-left: 1rem;
  padding-right:  1.2rem;
  font-size:  1.6rem;
}
.verfy-icon{
   font-size:  2rem;
display: none;
margin-right:  1rem ;
}
.success .field {
border-color: #15803d;

}
.success .success-icon{
display: block; 
 color:#15803d ;
}
.input-field.error ,.input-field.success{
   transition: all 0.3s ease;  
}

.error .field {
   border-color: #ff6961;
}
 
.error .error-icon{
  display: block; 
   color:#ff6961 ;
  }
.form {
  background-color: #fff;
  padding:  3.2rem;
  border-radius:  11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
 
.form-title {
  margin-bottom:  3.2rem;
  text-align: center;
}

.title {
  font-size:  2.8rem;
  font-weight: 600;
  color: #333;
}
 
.btn-field {
  margin-top:  1.6rem;
  text-align: center;
}
.btn-field p {
  color: #333;
  font-weight: 700;
  font-size: 1.4rem;
}

.btn-field a {
  text-decoration: none;
  color: #1e40af;
  transition: 0.5s all;
}

.btn-field a:hover {
  text-decoration: none;
  color: #1e3a8a;
}
/* Button Styling */
.my-btn {
  font-weight: 600;
  background-color: #1e40af;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding:  1rem  .5rem;
  border-radius: 5px;
  margin:  1.2rem 0;
  font-size:  1.8rem; 
}

.my-btn:hover {
  background-color: #1e3a8a;
}
/* Sign-Up Box Styling */
.sign-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width:80rem;
    border-radius: 11px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.sign-content {
  background-color: hsla(226, 71%, 40%, 0.826);
  padding: 1.6rem;
  border-radius: 11px;
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-content p {
  color: #fff;
}
.main-logo {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.main-logo p {
  color: #fff;
}

.main-logo i {
  margin-right: 0.5rem;
}
.boss-message {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.2rem;
  border-radius: 9px;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.boss-img {
  width: 4rem;
  border-radius: 50%;
}
.boss-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.2rem;
}
.info-text p {
  margin-bottom: 0;
}
.boss-name {
  font-weight: 600;
}
.boss-title {
  font-size: 1.4rem;
}

/* Form Check Box Styling */
/* Hide the default checkbox */
/* Copied from uiverse.io */

.check-box {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
  gap: .7rem;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #1e40af;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #1e40af90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(30, 64, 175,376);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(30, 64, 175,1.88);
    rotate: 0;
  }
}
/* check box label */
.check-box span {
  color: #333;
  font-size: 1.6rem;
  cursor: pointer;
}

.check-box span a {
  color: #1e40af;
  text-decoration: none;
}

.check-box span a:hover {
  text-decoration: underline !important;
}

.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
 
 @media (max-width:768px) {
  html{
    font-size: 50%;
  }
  body{
    align-items:start;
    background-color: #fff;
  }
  .sign-box {
     grid-template-columns: 1fr;
     border-radius: 0;
     box-shadow: none;
  }
  .form,.sign-content{
    border-radius: 0;
  }
  .sign-content{
    display: flex;
    gap: 4rem;

  }



 }
 
/* 
Tooltip
 */

 .tippy-box[data-theme='errorTooltip'] {
  background-color: #ff6961;
  color: #fff;
   font-size: 1.4rem;
  font-weight: 500;
   border-radius: 5px; 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); 
}

.tippy-box[data-theme='errorTooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #ff6961; 

}

#toast-container>div {
    font-size: 1.6rem;
  line-height: 1.6;
  padding: 20px 20px 20px 50px;
  
}
 

 /* loader */
 .loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
   display: flex;
   background-color:#f5f5f5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 999999999999999999;
}
.spinner {
  display: flex;
  width: 8rem;
  height: 8rem;
  border: 6px solid transparent;
  border-top-color: #3c90ff;
  border-bottom-color: #3c90ff;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner:before {
  content: '';
  display: block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  border: 6px solid #3c90ff;
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
  
}
.loading-message {
  margin-top: 1rem;
  font-size: 2rem;
  color: #333;
  animation: fadeIn .5s alternate infinite;
}


