:root {
 scroll-behavior: smooth;
 --main-bg-color: #101316;
 --secondary-bg-color: #0B0D0F;
 --form-bg-color: #0B0D0F;
 --teriary-bg-color: #1e3a8a;
 --btn-hover: #2563eb;
 --main-hover-bg-color: rgba(255, 255, 255, 0.2);
 --head-hover-color: rgba(255, 255, 255, 0.2);
 --table-hover-color: rgba(255, 255, 255, 0.1) ;
 --main-color: #fff;
 --link-before-color: #93c5fd;
 --box-shadow-color: rgba(255, 255, 255, 0.2);
 --logo-primary-color: #fff;
 --logo-secondary-color: #93c5fd;
 --input-focus-color: #121416;
 --add-hover-bg-color: #121416;
 --form-input-color: #121416;
 --aside-bg-color: #0B0D0F;
 --light-color: #fff; 
 --submit-btn-bg-color: #fff; 
 --submit-btn-color: #000; 

}
.light-theme {
 --main-bg-color: #f5f5f5;
 --teriary-bg-color: #e2e8f0; 
 --btn-hover: #2563eb;
 --main-color: #101316;
 --light-color: #fff;
 --link-before-color: #fff; 
 --box-shadow-color: rgba(0, 0, 0, 0.2); 
 --logo-primary-color: #fff; 
 --logo-secondary-color: #93c5fd;  
 --aside-bg-color: #1d4ed8;
 --add-hover-bg-color: #1d4ed8;
  --input-focus-color: #bfdbfe;
  --secondary-bg-color:#e2e8f0; 
 --table-hover-color: #bfdbfe;
 --form-bg-color: #fff;
 --submit-btn-bg-color: #1d4ed8; 
 --submit-btn-color: #fff; 
 --form-input-color: #f5f5f5;
 --head-hover-color: #2563eb;

}
main {
  padding: 1rem 2.4rem 2.4rem;
  }
body {
  font-family: "Rubik", sans-serif;
    color: var(--main-color);
  background-color: var(--main-bg-color);
 }
 
/* form */
.products-form {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
   border-radius: 8px;
  box-shadow: 0 0 1rem var(--box-shadow-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  overflow-x: auto;
  border: 1px solid #3C3E3F;

}
.group-box {
  padding: 2rem;
  background-color: #101316;
   border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #3C3E3F;

}
.product-cal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}
.products-form input {
  padding: 1rem;
  background-color:#242627;  
  border: 1px solid #7C7D7E;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  transition: .5s all ease-in-out;
  outline:none;
  color: #fff;
}
.products-form input::placeholder {
  color: var(--main-color);
  font-size: 1.6rem;
}
.products-form input:focus {
  border-color: #90b9fa;
  box-shadow: 0 0 0 .25rem rgba(32, 107, 245, 0.25);
  transform: scale(1.02);
}
#total {
  padding: 1rem;
  background-color:#527ab5;
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.6rem;
  grid-column: span 2;
}
#total::before {
  content: "Total :  ";
}
.table-btns {
  display: flex;
  gap: 1.6rem;
}
 
.table-btns i {
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.update{
  background-color: #a89734;
  }
  .delete{
   background-color: #a83434  ;
  }
.btn-row
{
  grid-column: span 2;
display: flex;
justify-content: center;
}

.form-btn {
  background-color:#345fa8;
  color: #fff;
  font-weight: 700;
  border: none;
  width: 100%;
   padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.6rem;
}
.form-btn:hover {
  background-color: #527ab5;
}
.btn-row .form-btn{
  width: 50%;

}
/* 
table */
.table-btns{
  color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
  overflow-x: auto;
}
th,
td {
  text-align: start;
  padding: 1.6rem 2.4rem;
  border-bottom: 1px solid #adb5bd;
  white-space: nowrap; /* Prevent line breaks */

}
 
thead {
  background-color: #345fa8;
  color: #fff;
  text-align: start;
}

tbody tr:nth-child(odd) {
  background-color: #08090A;
}

tbody tr:nth-child(even) {
  background-color: var(--main-bg-color);
}

 
.search-bar{
  position: relative;
  margin-bottom: 2rem;
  }
.search-bar input {
  padding: 1rem 1.5rem;
  transition: 0.5s ease-in-out;
  background-color:#0B0D0F;  
  border: 1px solid #3C3D3F;
    padding:1.5rem;
    padding-left: 4.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    width: 100%;
    color:#fff;
    outline: none;
}
 
.search-bar input:focus {
    box-shadow: 0 0 0 .6rem rgba(80, 142, 243, 0.418);
}
.search-bar i{
  position: absolute;
  left: 3rem;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
  z-index: 999;
}





#delete-all-btn {
  margin-bottom: 2rem;
}


@media (max-width:75em){
  html{
   font-size:56.25% ; 
  }
}
@media (max-width:61em){
  html{
    font-size: 50%;
  }
}

 
.pop-up-control .cancel-modal-btn {
  background-color: #e2e8f0;
  color: #000;
}
 