/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights (px)
Default:400
medium:500
semi-bold:600
bold:700
- Line heights
Default: 1
small :1.05
paragraph:1.6

--- 02 COLORS

- Primary:#075985 #0c4a6e 
- Tints: #082f49;
- Shades:
- Accents:
- Greys:
#555
#333
--- 03 SHADOWS
--- 04 BORDER-RADIUS
Default:9px
--- 05 WHITESPACE
-Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(7, 89, 133, 0.502);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
/********************/
/* GENERAL COMPONENTS */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s all;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn--full:link,
.btn--full:visited {
  background-color: #075985;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #333;
  /* border: 3px solid transparent; */
}
.btn.btn--full:hover,
.btn.btn--full:active {
  background-color: #0c4a6e;
  color: #fff;
}
.btn.btn--outline:hover,
.btn.btn--outline:active {
  background-color: #f0f9ff;
  color: #333;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom-lg {
  margin-bottom: 9.6rem !important;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-center-v {
  align-items: center;
}
.subheading {
  display: block;
  color: #0c4a6e;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
  font-weight: 700;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  color: #082f49;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.text-center {
  text-align: center;
}
strong {
  font-weight: 500;
}

/********************/
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f9ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}
/********************/
/* NAVIGATION */
.main-logo {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  color: #082f49;
}
.main-logo i,
.main-logo span {
  color: #0284c7;
}
.main-logo i {
  margin-right: 1.2rem;
}
.main-nav-list {
  display: flex;
  list-style: none;
  justify-items: center;
  align-items: center;
  gap: 4.8rem;
}
.main-list-link:link,
.main-list-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s all;
}
.main-list-link:hover,
.main-list-link:active {
  color: #0c4a6e;
}
.main-list-link.nav-cta:link,
.main-list-link.nav-cta:visited {
  background-color: #075985;
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 9px;
  transition: all 0.3s;
}
.main-list-link.nav-cta:hover,
.main-list-link.nav-cta:active {
  background-color: #0c4a6e;
}

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 9999;
}
.mobile-nav-icon {
  color: #333;
}
.mobile-nav-icon.fa-xmark {
  display: none;
}
.nav-open {
}
.nav-open .main-nav {
}
/* Sticky nav */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fffffff7;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  z-index: 999;
  height: 8rem;
}
/********************/
/* HERO SECTION */

.section-hero {
  background-color: #f0f9ff;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.customers {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.customers-imgs {
  display: flex;
}
.customers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e0f2fe;
}
.customers-imgs img:last-child {
  margin: 0;
}
.customers-text {
  font-weight: 600;
  font-size: 1.8rem;
}
.customers-text span {
  color: #0c4a6e;
  font-weight: 700;
}
.hero-img-box {
  overflow: hidden;
  border-radius: 11px;
}
.hero-img {
  width: 100%;
}
/********************/
/* WHY BOSS HELPER SECTION */
.section-why,
.section-features,
.section-testemonials,
.section-success-stories {
  padding: 9.6rem 0;
}
.heading-why {
  margin-bottom: 2.4rem;
  color: #333;
}

.why-img-box {
  position: relative;
}
.why-img-box img {
  width: 100%;
}
.why-img-box::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #bae6fd;
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.why-img-box::before {
  content: "";
  display: block;
  width: 80%;
  padding-bottom: 80%;
  background-color: #e0f2fe;
  position: absolute;
  z-index: -3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
/********************/
/* TRUSTED SECTION */
.section-trusted {
  padding: 9.6rem 0;
  background-color: #082f49;
}
.heading-trusted {
  font-size: 4.4rem;
  /* text-transform: uppercase; */
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #fff;
}
.trusted-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 6.4rem;
}
.trusted-logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6.4rem;
}
.trusted-img {
  height: 3.2rem;
  filter: brightness(0) invert(1);
}
.trusted-testemonial {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4.8rem;
  border-radius: 11px;
  margin-bottom: 3.2rem;
}
.trusted-testemonial-box {
  padding: 0 3.2rem;
}
.boss-testemonial {
  font-size: 2.4rem;
  color: #fff;
  line-height: 1.8em;
  margin-bottom: 1.4rem;
}
.boss-info {
  font-size: 1.6rem;
  color: #e0f2fe;
}
.boss-trigger {
  padding: 2.4rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  cursor: pointer;
  transition: all 2s;
}
.boss-trigger i {
  transition: all 2s;
}
.boss-trigger a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #fff;
}
.boss-trigger:hover i {
  transform: translateX(1rem);
}
/********************/
/* FEATURES SECTION */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.features-text-box {
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 11px;
}
.features-icon {
  background-color: #e0f2fe;
  padding: 2rem;
  border-radius: 50%;
  color: #075985;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  transition: 0.5s all;
}
.features-icon:hover {
  background-color: #bae6fd;
  transform: scale(1.05);
}
.features-box-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.features-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.features-img-box {
  grid-row: span 2;
  align-self: center;
  border: 1rem solid #f0f9ff;
  overflow: hidden;
  border-radius: 11px;
  transition: 0.5s all;
  background-color: #f0f9ff;
}
.features-img-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 11px;
}
.features-img-box img,
.features-text-box {
  transition: 0.5s all;
  cursor: pointer;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  background-color: #f0f9ff;
}
.features-img-box:hover,
.features-text-box:hover {
  transform: scale(1.05);
}
/********************/
/* Testemonials SECTION */
.section-testemonials {
  background: linear-gradient(to bottom right, #e0f2fe, #bae6fd, #0c4a6e);
}

.testemonials-description {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8em;
}
.testemonials-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.testemonial-box {
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 11px;
}
.testemonial-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 2.4rem;
}
.testemonial-data {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.testemonial-img {
  width: 6.4rem;
  border-radius: 50%;
}
.author-name {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.author-title {
  color: #6f6f6f;
  font-size: 1.4rem;
}

/********************/
/* FAQ SECTION */
.section-faq {
  padding-bottom: 9.6rem;
}
.faq-img {
  margin: auto;
}
.faq-img {
  width: 48rem;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 80%;
  margin: auto;
}
.accordion-item {
  display: grid;
  grid-template-columns: 1fr 10fr auto;
  column-gap: 1.6rem;
  row-gap: 2.4rem;
  align-items: center;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem;
  transition: 0.5s all;
  cursor: pointer;
  border-top: 5px solid transparent;
  border-radius: 11px;
}
.accordion-item:hover .item-text {
  color: #075985;
}
.item-number {
  font-size: 3.2rem;
  color: #ced4da;
  font-weight: 500;
}
.item-text {
  font-size: 2.4rem;
  font-weight: 500;
}
.item-icons {
  justify-self: end;
}
.item-icon {
  font-size: 1.6rem;
  background-color: #eee;
  border-radius: 50%;
  color: #aaa !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.item-icon.fa-minus {
  display: none;
}
.answer-box {
  grid-column: 2/3;
  display: none;
}
.answer-box p {
  font-size: 2rem;
  line-height: 1.8;
}
/* When accordion-item-open class is added */

.accordion-item-open.accordion-item {
  border-top: 5px solid #075985;
  transition: max-height 0.3s ease-out;
}
.accordion-item-open .item-number,
.accordion-item-open .item-text {
  color: #075985;
}
.accordion-item-open .item-icon.fa-minus {
  display: flex;
}
.accordion-item-open .item-icon.fa-plus {
  display: none;
}
.accordion-item-open .item-icon {
  background-color: #075985;
  border-radius: 50%;
  color: #fff !important;
  font-size: 1.6rem;
}
.accordion-item-open .answer-box {
  display: block;
}

/********************/
/* CTA SECTION */

.section-cta {
  padding: 9.6rem 0;
}
.contact-us {
}
.cta {
  display: grid;
  grid-template-columns: 5fr 2fr;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  color: #075985;
}
.cta-form label {
  display: block;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: inherit;
}
.cta-form input,
.cta-form textarea {
  padding: 1.2rem;
  background-color: #e0f2fe;
  border-radius: 9px;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: 1.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.cta-form .textarea-box {
  grid-column: 1/-1;
}
.btn--form {
  grid-column: 1/-1;
  align-self: end;
  padding: 1.2rem;
  background-color: #075985;
  color: #fff;
}
.btn--form:hover {
  background-color: #0c4a6e;
  color: #fff;
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(7, 89, 133, 0.502);
}
.contact-info-box {
  color: #fff;
  grid-column: 2;
}
.contact-info-box .heading-tertiary {
  color: #fff;
  margin-bottom: 0.8rem;
}
.contact-img {
  width: 100%;
}
.info-details {
  background-color: #075985;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  border-radius: 11px;
}
.info-link {
  display: flex;
  align-items: center;
}
.info-link i {
  margin-right: 1.2rem;
  font-size: 2.2rem;
}
/********************/
/* FOOTER SECTION */
.footer {
  border-top: 1px solid #eee;
  padding: 12.8rem 0;
  background-color: #082f49;
  color: #fff;
}
.grid--footer {
  grid-template-columns: repeat(6, 1fr);
}
.footer-img-box {
}
.footer-img {
  width: 100%;
}
.footer-header {
  grid-column: span 5;
}
.footer-text {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.footer-second-row {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  column-gap: 2.4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  color: #fff;
  font-size: 3.6rem;
}
/* .footer-logo i,
.footer-logo span {
  color: #fff;
} */
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #bae6fd;
}
.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.6;
}
.footer-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.contact-info a {
  display: block;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/* ...................... */

/* About Us Section Styles */
/* .section-about-us {
  padding: 80px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.section-about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about-us .section-heading {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}

.section-about-us .about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.section-about-us .about-us-text {
  max-width: 600px;
  margin-right: 40px;
}

.section-about-us .about-us-text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.section-about-us .about-us-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.section-about-us .about-us-image {
  flex: 1;
  margin-top: 40px;
}

.section-about-us .about-us-image img {
  max-width: 100%;
  border-radius: 8px;
}

.section-about-us .about-us-values {
  margin-top: 40px;
  text-align: left;
}

.section-about-us .values-list {
  list-style-type: none;
  padding: 0;
}

.section-about-us .values-list li {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.6;
}

.section-about-us .values-list li i {
  color: #28a745;
  margin-right: 10px;
} */

.story-img img {
  width: 100%;
  transition: all 0.6s ease-in-out;
}
.story-boxes .features-text {
  margin-bottom: 3.2rem;
}

.story-boxes {
  padding: 6.4rem;
}
.story-box {
}
.success-story-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  padding: 1.6rem;
}

.read-more-btn {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: start;
  cursor: pointer;
  font-size: 1.8rem;
  color: #075985;
}
.read-more-btn i {
  transition: 1s all;
}
.read-more-btn strong {
  font-weight: 600;
  margin-left: 1.2rem;
}
.read-more-btn:hover i {
  transform: translateX(1rem);
}

/* Story box styles */
.success-story {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Image styles */
.story-img img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.story-img:hover img {
  transform: scale(1.1);
}

/* Content styles */
.success-story-content {
  padding: 2rem;
  flex: 1; /* Allow content to grow */
  display: flex;
  flex-direction: column;
}

.features-box-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.features-text {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.6;
}

.story-img {
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.img-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 2.4rem 2.4rem 1.2rem;
  background-color: rgba(7, 89, 133, 0.4);
}
.img-layer p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

/* Modal container */
.modal-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.modal {
  padding: 2.4rem;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
}

.modal-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}
.modal-img {
  width: 100%;
}
.modal-title {
  background-color: #075985;
  color: #fff;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 2.4rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

/* Modal container */
.modal-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
}

.modal {
  padding: 2.4rem;
  width: 60%;
  min-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
  transform: scale(0.5);
  transition: 0.5s all ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.modal-content {
  display: flex;
}
.prev-btn,
.next-btn {
  align-self: center;
}
.prev-btn {
  margin-right: 1.2rem;
}
.next-btn {
  margin-left: 1.2rem;
}
.modal-icon {
  color: #075985;
  font-size: 3.2rem;
  cursor: pointer;
  transition: 0.5s all;
}
.modal-head {
  display: flex;
  margin-bottom: 1.2rem;
  gap: 1.2rem;
  align-items: center;
}
.modal-icon:hover,
.modal-icon:active {
  color: #333;
}
.modal-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  padding: 2.4rem 0;
  align-items: stretch;
}

.modal-img {
  width: 100%;
  border-radius: 10px;
}

.modal-title {
  background-color: #075985;
  color: #fff;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 2.8rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  flex-grow: 1;
  margin: 0;
}

.company-boss,
.company-boss span,
.modal-description {
  border-radius: 10px;
}
.company-boss,
.company-boss span {
  padding: 1.5rem;
}

.company-boss {
  margin-bottom: 1.2rem;
  text-align: center;
}
.company-boss span {
  background-color: #e0f2fe;
}
.company-boss span,
.modal-description h3 {
  color: #075985;
}
.company-boss span,
.modal-description h3,
.modal-description p {
  margin-bottom: 1rem;
}

.company-boss span,
.modal-description h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.modal-description p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.d-flex {
  display: flex;
}
.view-modal-layer {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all ease-in-out;
}
.view-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s all ease-in-out;
}
 